.myContain {
    align-items: center;
    margin-top: 175px;
    text-align: center;
}


.form-control {
    width: 363px;
    height: 40px;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-left: 380px;
}

.sign-in-btn {
    margin-top: 40px;
    width: 342px;
    text-decoration: none;
}

.forgot-password {
    font-size: 44px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.text-right {
    margin-top: 80px;
    margin-left: -189px;
}

.backPage {
    margin-top: 20px;
    text-decoration: none;
}

    .backPage a {
        text-decoration: none;
    }
