.myContain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/wwwroot/bootstrap/lock.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
}

.reset-box {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 500px; 
}

.form-control {
    width: 100%; 
    margin-bottom: 15px;
}


.line {
    font-family: 'Archivo', sans-serif;
    font-size:40px;
    
}


.text-right {
    font-family: 'Archivo', sans-serif;
}

.submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backPage {
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bordeLine {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #171a1f32, 0px 0px 2px #171a1f1f;
    overflow: hidden;
    padding: 18px;
    margin: 0;
}

