.page-wrapper[b-r34hd0ap3l] {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background: #f3f4f6; 
    padding: 16px;
}

    .page-wrapper .card[b-r34hd0ap3l] {
        width: 100%;
        max-width: 500px;
        border-radius: 12px;
        background: #fff;
    }
